<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Statroom - Team Invite</title>
    </head>
    <body>
        <div bgcolor="#fafafa" marginheight="0" marginwidth="0" style="width:100%!important;min-width:100%;background-color:#fafafa;color:#333333;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-weight:normal;text-align:center;line-height:20px;font-size:14px;margin:0;padding:0">

    <table style="border-spacing:0;border-collapse:collapse;vertical-align:top;text-align:center;height:100%;width:100%;background-color:#fafafa;color:#333333;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-weight:normal;line-height:20px;font-size:14px;margin:0;padding:0" bgcolor="#fafafa">
      <tbody><tr style="vertical-align:top;text-align:center;padding:0" align="center">
        <td align="center" valign="top" style="word-break:break-word;border-collapse:collapse!important;vertical-align:top;text-align:center;color:#333333;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-weight:normal;line-height:20px;font-size:14px;margin:0;padding:0">
          <center style="width:100%;min-width:580px">
          
  
            <table style="border-spacing:0;border-collapse:collapse;vertical-align:top;text-align:center;width:100%;padding:0px">
              <tbody><tr style="vertical-align:top;text-align:center;padding:0" align="center">
                <td align="center" style="word-break:break-word;border-collapse:collapse!important;vertical-align:top;text-align:center;color:#333333;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-weight:normal;line-height:20px;font-size:14px;margin:0;padding:0" valign="top">
                  <center style="width:100%;min-width:580px">
  
                    <table style="border-spacing:0;border-collapse:collapse;vertical-align:top;text-align:inherit;width:580px;margin:0 auto;padding:0">
                      <tbody><tr style="vertical-align:top;text-align:center;padding:0" align="center">
                        <td style="word-break:break-word;border-collapse:collapse!important;vertical-align:top;text-align:center;color:#333333;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-weight:normal;line-height:20px;font-size:14px;margin:0;padding:0 0px 0 0" align="center" valign="top">
  
                          <table style="border-spacing:0;border-collapse:collapse;vertical-align:top;text-align:center;width:540px;margin:0 auto;padding:0">
                            <tbody><tr style="vertical-align:top;text-align:center;padding:0" align="center">
                              <td style="word-break:break-word;border-collapse:collapse!important;vertical-align:top;text-align:center;color:#333333;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-weight:normal;line-height:20px;font-size:14px;margin:0;padding:0px 0px 10px" align="center" valign="top">
                                <div style="text-align:center" align="center">
                                  
                                  <a href="http://localhost:5173" style="color:#4183c4;text-decoration:none" target="_blank">
                                    <img alt="Statroom home" src="cid:statroom-logo" width="102" height="100" style="outline:none;text-decoration:none;width:auto;max-width:100%;float:none;text-align:center;margin:0 auto;padding:25px 0 17px;border-style:none" align="none" class="CToWUd" data-bit="iit">
                                  </a>
                                </div>
                              </td>
                              <td style="word-break:break-word;border-collapse:collapse!important;vertical-align:top;text-align:center;width:0px;color:#333333;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-weight:normal;line-height:20px;font-size:14px;margin:0;padding:0" align="center" valign="top"></td>
                            </tr>
                          </tbody></table>
  
  
                        </td>
                      </tr>
                    </tbody></table>
  
  
                  </center>
                </td>
              </tr>
            </tbody></table>
  
  
            <table style="border-spacing:0;border-collapse:collapse;vertical-align:top;text-align:inherit;width:580px;margin:0 auto;padding:0">
              <tbody><tr style="vertical-align:top;text-align:center;padding:0" align="center">
                <td style="word-break:break-word;border-collapse:collapse!important;vertical-align:top;text-align:center;color:#333333;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-weight:normal;line-height:20px;font-size:14px;margin:0;padding:0" align="center" valign="top">
  
                  <table style="border-spacing:0;border-collapse:collapse;vertical-align:top;text-align:center;width:100%;display:block;padding:0px">
                    <tbody><tr style="vertical-align:top;text-align:center;padding:0" align="center">
                      <td style="word-break:break-word;border-collapse:collapse!important;vertical-align:top;text-align:center;color:#333333;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-weight:normal;line-height:20px;font-size:14px;margin:0;padding:0 0px 0 0" align="center" valign="top">
  
                        <div style="background:#ffffff;background-color:#ffffff;border-radius:3px;padding:20px;border:1px solid #dddddd">
  
                          <table style="border-spacing:0;border-collapse:collapse;vertical-align:top;text-align:center;width:540px;margin:0 auto;padding:0">
                            <tbody><tr style="vertical-align:top;text-align:center;padding:0" align="center">
                              <td style="word-break:break-word;border-collapse:collapse!important;vertical-align:top;text-align:center;color:#333333;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-weight:normal;line-height:20px;font-size:14px;margin:0;padding:0px 0px 0" align="center" valign="top">
  
                                <div>
  
                                  <div style="padding:15px 0 10px">
  </div>
  
  <h1 style="color:#333;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-weight:300;text-align:center;line-height:1.2;word-break:normal;font-size:24px;margin:10px 0 25px;padding:0" align="center">{{sender}} has invited you to collaborate in the team<br><strong>{{teamName}}</strong></h1>
  
  
  <hr style="color:#d9d9d9;background-color:#d9d9d9;height:1px;margin:20px 0;border-style:none">
  
  <p style="word-wrap:normal;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:14px;font-weight:normal;color:#333;line-height:20px;text-align:left;margin:15px 0 5px;padding:0" align="left">
    You can <a href="{{team_invite_url}}" style="color:#4183c4;text-decoration:none" target="_blank" >accept or decline</a> this invitation.
  </p>
    <p style="word-wrap:normal;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:14px;font-weight:normal;color:#333;line-height:20px;text-align:left;margin:15px 0 5px;padding:0" align="left">
      This invitation will expire in 7 days.
    </p>
  
  <div style="text-align:center;color:#ffffff;padding:20px 0 25px" align="center">
  
      <a href="{{team_invite_url}}" style="display:inline-block;color:#fff;font-size:14px;font-weight:600;background-color:#4183c4;text-decoration:none;width:auto!important;text-align:center;border-radius:5px;letter-spacing:normal;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;margin:0 auto;padding:6px 12px" target="_blank">View invitation</a>
  
  </div>
  
  
  <p style="word-wrap:normal;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:13px;font-weight:normal;color:#333;line-height:20px;text-align:left;margin:15px 0 5px;padding:0" align="left">
    <strong>Note:</strong> This invitation was intended for <strong><a href="mailto:{{recipient}}" target="_blank">{{recipient}}</a></strong>.
    If you were not expecting this invitation, you can ignore this email.
  </p>
  
  <hr style="color:#d9d9d9;background-color:#d9d9d9;height:1px;margin:20px 0;border-style:none">
  
  <p style="word-wrap:normal;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:12px;font-weight:normal;color:#777777;line-height:20px;text-align:left;margin:15px 0 5px;padding:0" align="left">
    <strong>Getting a 404 error?</strong> Make sure you’re signed in as <strong>{{recipient}}</strong>.
  </p>
  
  <p style="word-wrap:normal;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:12px;font-weight:normal;color:#777777;line-height:20px;text-align:left;margin:15px 0 5px;padding:0" align="left">
    <strong>Button not working?</strong> Copy and paste this link into your browser:
    <br><a href="{{team_invite_url}}" style="color:#4183c4;text-decoration:none" target="_blank">https://statroom.com/<wbr>{{teamNameStrip}}/<wbr>invitations</a>
  </p>
  
  
                                </div>
  
  
                              </td>
                              <td style="word-break:break-word;border-collapse:collapse!important;vertical-align:top;text-align:center;width:0px;color:#333333;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-weight:normal;line-height:20px;font-size:14px;margin:0;padding:0" align="center" valign="top"></td>
                            </tr>
                          </tbody></table>
  
  
                        </div>
  
  
                      </td>
                    </tr>
                  </tbody></table>
  
  
                </td>
              </tr>
            </tbody></table>
  
  
            <table style="border-spacing:0;border-collapse:collapse;vertical-align:top;text-align:center;width:100%;padding:0px">
              <tbody><tr style="vertical-align:top;text-align:center;padding:0" align="center">
                <td align="center" style="word-break:break-word;border-collapse:collapse!important;vertical-align:top;text-align:center;color:#333333;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-weight:normal;line-height:20px;font-size:14px;margin:0;padding:0" valign="top">
                  <center style="width:100%;min-width:580px">
  
                    <table style="border-spacing:0;border-collapse:collapse;vertical-align:top;text-align:inherit;width:580px;margin:0 auto;padding:0">
                      <tbody><tr style="vertical-align:top;text-align:center;padding:0" align="center">
                        <td style="word-break:break-word;border-collapse:collapse!important;vertical-align:top;text-align:center;color:#333333;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-weight:normal;line-height:20px;font-size:14px;margin:0;padding:0 0px 0 0" align="center" valign="top">
  
                          <table style="border-spacing:0;border-collapse:collapse;vertical-align:top;text-align:center;width:540px;margin:0 auto;padding:0">
                            <tbody><tr style="vertical-align:top;text-align:center;padding:0" align="center">
                              <td style="word-break:break-word;border-collapse:collapse!important;vertical-align:top;text-align:center;color:#333333;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-weight:normal;line-height:20px;font-size:14px;margin:0;padding:0px 0px 10px" align="center" valign="top">
                                <div style="text-align:center;padding:20px 0" align="center">
                                  
                                  </p>
                                </div>
                                <div style="margin:0 0 15px">
                                  
                                  <a href="http://localhost:5173" style="color:#4183c4;text-decoration:none" target="_blank">
                                    <img alt="Statroom Home" src="cid:statroom-icon" width="40" height="38" style="outline:none;text-decoration:none;width:auto;max-width:100%;border-style:none" class="CToWUd" data-bit="iit">
                                  </a>
                                </div>
                                <div style="margin:0 0 15px">
                                  <p style="word-wrap:normal;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:12px;font-weight:normal;color:#999;line-height:20px;text-align:center;margin:0;padding:0">StatroomAI.</p>
                                  <p style="word-wrap:normal;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:12px;font-weight:normal;color:#999;line-height:20px;text-align:center;margin:0;padding:0" align="center">Paris</p>
                                  <p style="word-wrap:normal;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:12px;font-weight:normal;color:#999;line-height:20px;text-align:center;margin:0;padding:0" align="center">France</p>
                                </div>
                              </td>
                              <td style="word-break:break-word;border-collapse:collapse!important;vertical-align:top;text-align:center;width:0px;color:#333333;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-weight:normal;line-height:20px;font-size:14px;margin:0;padding:0" align="center" valign="top"></td>
                            </tr>
                          </tbody></table>
  
  
                        </td>
                      </tr>
                    </tbody></table>
  
  
                  </center>
                </td>
              </tr>
            </tbody></table>
  
  
          
          </center>
        </td>
      </tr>
    </tbody></table><div class="yj6qo"></div><div class="adL">
  
  </div></div>
    </body>
</html>
